// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
.entry-title {
	a {
		color: black;
	}
}

.custom-header {
	width: 100%;
}

.image-pade {
	//width: 100%;
	position: relative; 
	img {
		width: 100%;
		min-height: 200px;
	}
	h2  {
		position: absolute; 
	   	top: 200px; 
	   	left: 0; 
	   	width: 100%;
	   	span {
	   		color: white; 
		   	font: bold 24px/45px Helvetica, Sans-Serif; 
		   	letter-spacing: -1px;  
		   	background: rgb(0, 0, 0); /* fallback color */
		   	background: rgba(0, 0, 0, 0.7);
		   	padding: 10px; 
	   }
	}
	.caption {
		position: absolute;
	    top: 45%;
	    //left: 40%;
		width: 100%;
		color: white; 
	   	font: bold 24px/45px Helvetica, Sans-Serif; 
	   	letter-spacing: -1px;  
	   	background: rgb(0, 0, 0); /* fallback color */
	   	background: rgba(0, 0, 0, 0.7);
	   	padding: 10px; 
	}
	
}

nav.navbar {
	.container {
		.navbar-header {
			.hidden-xs-down {
				.navbar-brand {
					img {
						width: 50px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	nav.navbar {
		transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		.container {
			.navbar-header {
				.site-title {
					padding-top:1.75rem;
				}
				.hidden-xs-down {
					.navbar-brand {
						img {
							width: 100px;
							transition: all 0.5s ease-in-out;
							-moz-transition: all 0.5s ease-in-out;
							-webkit-transition: all 0.5s ease-in-out;
							-o-transition: all 0.5s ease-in-out;
						}
					}
				}
			}
			.navbar-toggleable-xs {
				.navbar-nav {
					.nav-link {
						margin-left: .6rem;
						margin-right: .6rem;
						padding-top: 2rem;
						transition: all 0.5s ease-in-out;
						-moz-transition: all 0.5s ease-in-out;
						-webkit-transition: all 0.5s ease-in-out;
						-o-transition: all 0.5s ease-in-out;
					}
				}
			}
		}
	}
}


nav.shrink {
	background-color: #f7f7f9;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	.container {
		.navbar-header {
			.site-title {
				padding-top:.75rem;
			}
			.hidden-xs-down {
				.navbar-brand {
					img {
						width: 50px;
						transition: all 0.5s ease-in-out;
						-moz-transition: all 0.5s ease-in-out;
						-webkit-transition: all 0.5s ease-in-out;
						-o-transition: all 0.5s ease-in-out;
					}
				}
			}
		}
		.navbar-toggleable-xs {
			.navbar-nav {
				.nav-link {
					margin-left: .6rem;
					margin-right: .6rem;
					padding-top: 1rem;
					transition: all 0.5s ease-in-out;
					-moz-transition: all 0.5s ease-in-out;
					-webkit-transition: all 0.5s ease-in-out;
					-o-transition: all 0.5s ease-in-out;
				}
			}
		}
	}
}
